@media (max-width: 600px) {
  .about-hero-image {
    width: 80%;
    height: auto;
  }
}

.about-content {
  width: 100%;
}

.hero-subtitle {
  font-size: 1.25rem;
  text-align: center;
  margin: 0;
}

.about-pfp {
  flex: 1 1 0;
  width: 100%;
  min-width: 0;
  max-width: none;
  height: auto;
}

.closing {
  width: 100%;
}

.closing-title {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}
.closing-title-non-centered {
  font-size: 3rem;
  font-weight: 700;
  max-width: 600px;
}

.contact-peek-image {
  width: 100%;
  transform: translateX(-35%);
  display: block;
}
