.about-hero-text {
  text-align: left;
  max-width: 500px;
}

h2 {
  font-weight: normal;
  font-size: 40px;
  color: #4847ed;
  line-height: 1.1;
}

p {
  font-size: 21px;
  margin: 12px 0;
  font-weight: lighter;
}

.pfp-text {
  text-align: left;
  max-width: 500px;
}

.pfp-text p {
  font-size: 15px;
}

.about-hero-image {
  width: 100%;
  height: auto;
}

.pfp-image {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

@media (max-width: 600px) {

  /* I can't figure out this sizing for responsive font size */
  h2 {
    font-size: clamp(2.7rem, 12vw, 4rem);
    line-height: 1.3;
  }

  p {
    margin: 1rem 0;
    font-size: clamp(1rem, 7vw, 2rem);
  }

  .pfp-text p {
    font-size: clamp(.8rem, 4.5vw, 1.4rem);
  }

  .hero {
    flex-direction: column;
    padding: 0 1rem 1rem 1rem;
  }

  .about-hero-image {
    width: 100%;
    height: auto;
    padding: 0 7rem;
    /* min-width: 440px; */
  }
}

@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}