.hero {
    display: flex;
    flex-direction: row-reverse;
    box-sizing: border-box;
    padding: 1.5rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    animation: fadeInSlideUp 1s ease-out forwards;
    opacity: 0;
    gap: 15px;
}

.hero-text {
    text-align: left;
    max-width: 500px;
}

h1 {
    font-size: 56px;
    font-weight: bold;
    color: #FF5115;
    line-height: 1.1;
}

p {
    font-size: 21px;
    margin: 12px 0;
    font-weight:lighter;
}

.hero-image {
    width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    .hero-text {
        text-align: center;
    }
    /* I can't figure out this sizing for responsive font size */
    h1 {
        font-size: clamp(2rem, 12vw, 4rem);
        line-height: 1.3;
    }
    p {
        margin: 1rem 0;
        font-size: clamp(1rem, 7vw, 2rem);
    }

    .hero {
        flex-direction: column;
        padding: 0 1rem 1rem 1rem;
    }

    .hero-image {
        min-width: 120px;
        width: 100%;
        padding: 0;
    }
}

.hero-image-container {
    position: relative;
    display: inline-block;
}

.hero-background {
    display: block;
}

.hero-meditation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    animation: float-up-down 3.5s ease-in-out infinite;
}

@keyframes fadeInSlideUp {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes float-up-down {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-18px);
    }

    100% {
        transform: translateY(0px);
    }
}