.card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background-color: #FDD10E;
    text-align: left;
    height: 300px;
    min-height: 100%;
}

.image {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.3s ease;
}

.overlay-content {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
}

.card:hover .overlay-content {
    opacity: 1;
    transform: translateY(0);
}

.card:hover .image {
    opacity: 0.7;
}

.tags {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 8px;
}

.tag {
    background-color: rgba(255, 216, 45, 0.789);
    border-radius: 20px;
    border: 1px solid #333333;
    padding: 4px 10px;
    font-size: 12px;
}

.title {
    font-size: 24px;
}

.description {
    font-size: 16px;
}

.overlay-content h1 {
    font-size: 24px;
    color: #333333;
    font-weight: normal;
    margin: 8px 0;
}

.overlay-content p {
    font-size: 16px;
    color: #333333;
    margin: 0;
}

@media (max-width: 600px) {
    .tag {
        font-size: 9px;
    }

    .hero {
        flex-direction: column;
        padding: 1rem;
    }

    .hero-image {
        min-width: 120px;
    }
}