.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #FF5115;
    box-sizing: border-box;
    padding: 1.5rem;
    text-align: right;
}

.footer-right, .footer-right a {
    color: #FFF8EE;
}

.small {
    font-weight: normal;
    font-size: 11px;
    margin-bottom: 0;
}

@media (max-width: 600px) {
    .footer {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-logo {
        margin: 10px 0 2rem 0;
    }

    .small {
        font-size: 12px;
        margin: 1.5rem 0
    }
}
