.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 200;
  transition: transform 0.3s cubic-bezier(.4, 0, .2, 1);
  background: #FFF8EE;
}
