.logo {
  height: auto;
  width: fit-content;
  min-height: 40px;
}

.header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.5rem;
  color: #4847ed;
}
