.links {
  height: 100%;
  align-items: flex-start;
}

.link {
  font-size: 18px;
  font-weight: bold;
  color: #646cff;
}

@media (max-width: 600px) {
  .links {
    line-height: 1.2;
  }

  .link {
    font-size: max(14px, min(4vw, 18px));
  }
}
