.links {
    justify-content: flex-end;
    height: 100%;
}

.links-drawer {
    height: 100%;
    justify-content: center;
    align-items: center;
}

.link {
    font-size: 18px;
    font-weight: bold;
}

.link-drawer {
    font-size: 50px;
    font-weight: normal;
}

@media (max-width: 600px) {
    .links {
        height: 100%;
        align-items: flex-start;
        line-height: 1.2;
    }
    .link {
        font-size: max(14px, min(4vw, 18px));
    }
}