.links,
.links-drawer {
  height: 100%;
}

.links {
  align-items: flex-start;
}

.links-drawer {
  justify-content: center;
  align-items: center;
}

.link,
.link-drawer {
  color: #646cff;
}

.link {
  font-size: 18px;
  font-weight: bold;
}

.link-drawer {
  font-size: 50px;
  font-weight: normal;
}

@media (max-width: 600px) {
  .links {
    line-height: 1.2;
  }

  .link {
    font-size: max(14px, min(4vw, 18px));
  }
}
