@import "tailwindcss";

:root {
  font-family: Outfit, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: normal;

  color-scheme: light dark;
  color: #212121;
  background-color: #FFF8EE;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 56px;
  font-weight: bold;
  color: #FF5115;
  line-height: 1.1;
}

h2 {
  font-weight: normal;
  font-size: 40px;
  color: #4847ed;
  line-height: 1.1;
}

p {
  font-size: 21px;
  margin: 12px 0;
  font-weight: lighter;
}

.p2 {
  font-size: 15px;
}

@media (max-width: 600px) {
  h1 {
    font-size: clamp(2rem, 12vw, 4rem);
    line-height: 1.3;
  }

  h2 {
    font-size: clamp(2.7rem, 12vw, 4rem);
    line-height: 1.3;
  }

  p {
    margin: 1rem 0;
    font-size: clamp(1rem, 7vw, 2rem);
  }

  .p2 {
    font-size: clamp(.8rem, 4.5vw, 1.4rem);
  }
}

@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
