#root {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100vw;
  min-height: 100vh;
  color: black;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: auto;
}